.articleMain{

  img{
    width: 100%;
    height: 25rem;
  }

  main{
    margin-top: 5rem;
  }

  .article{

    header{

      h1{
        font-size: 3rem;
        line-height: 3.681rem;
        color:var(--heading);
        font-weight: 700;
      }

      p{
        margin: 0.8rem 0;
        font-size: 1.125rem;
        line-height: 1.2rem;
        color:var(--body);
      }

      .articleInfo{
        margin-top: 1.5rem;
        display: flex;

        div{
          display: flex;
          align-items: center;

          svg, span,time{
            color: var(--info);
          }

          svg{
            margin-right: 0.5rem;
          }

          span, time{
            margin-right: 1.5rem;
          }
        }
      }

      .lastUpdate{
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        font-size: 0.875rem;
        line-height: 1rem;
        color:var(--body);
      }

      margin-bottom: 3.75rem;
    }

    .articleContent{
      width: 100%;
      display: flex;
      flex-direction: column;

      h1{
        font-size: 1.75rem;
        line-height: 2rem;
        color:var(--heading);
        font-weight: 700;
        margin-bottom: 3rem;
      }

      p{
        margin: 0.8rem 0;
        font-size: 1.125rem;
        line-height: 1.5rem;
        color:var(--body);
        margin-bottom: 3rem;
      }
    }

   }
}
